<link rel="stylesheet" href="css/navbar.css">
<nav class="navbar">
    <div class="nav-left">
        <a href="home.html">
            <alt="Logo" class="logo"> SANCHEZ TECH
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="contact.html">Contact</a></li>
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
    </ul>
</nav>
